{% extends "base_bootstrap.html" %}

{% block content %}
<div class="w-100">
    <h1 class="text-center p-5">{{title}}</h1>
</div>
<div class="d-flex justify-content-md-center align-items-center" >
    <div class="w-100">
    <h2>{{ achivements.AchivementName }}</h2>  <!-- lowercase to model-->
    <h2>{{ courses.CourseName }}</h2>
        <p>Are you sure you want to delete?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete." class="btn btn-danger">
            <input type="submit" onclick="window.location='{% url 'resBuild:Index' %}' ; return false;" value="Cancel" class="btn"> 
        </form>
    </div>
</div>
{% endblock %}
